aside {
    width: 250px
}

.input-group-append {
    display: flex;
    flex-direction: column
}

.input-group {

    display: flex;
    flex-direction: column;
    width: 250px
}

#search-input {
    margin-bottom: 10px;
    width: 300px;
    
    align-items: center;

}


#clear-button, #search-button {
    font-weight: bold;
    color: #000000;
    display: block;
    position: relative;
    text-align: center;
    background-color: #0099cc;
    border: none;
  }
  #clear-button:after, #search-button:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
      -webkit-transition: none;
         -moz-transition: none;
              transition: none;
  }
  #clear-button:hover:after, #search-button:hover:after {
    width: 120%;
    background-color: rgba(255, 0, 0, 0);
    
      -webkit-transition: all 0.4s ease-in-out;
         -moz-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out;
  }




#form-heading {
    margin-left: 10px;
    font-weight: bold;
}

#weather-header {

    padding: 5px;
}

h1 {
    color: #3a3a3a;
}

h4 {
    color: #000000;
}

#page-heading {
    font-size: 8vh;
    font-weight: bold;
    border-style:inset;
    border-width: 0.02cm;
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 50%, #d6dce0 100%);
}

#forecastheader {
    color: #000000;
    text-align: center;
    font-size: 5vh;
    font-weight: bold;
    padding-top: 20px;
    
    

}

#forecast {

    visibility: hidden;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#today {
    visibility: hidden;
    text-align: center;
    font-weight: lighter ;
    font-size:large;
    font-weight: bold;
   background-color:  #17a2b8;
}


footer #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer h6 {
    font-size: 16px;
}

h2 {
    text-align: left;
}



@media screen and (max-width: 600px) {

    #forecast {

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%
    }

    #search-button #clear-button {
        width: 100%
    }

    #search-input {
        width: auto;
        
        align-items: center;

    }

    #form-heading {
        position: static;
        font-size: medium;
        text-align: center;
        
        
        
    }

  
}